html{
    scroll-behavior: smooth;
}



body { 
    background-color: rgb(255, 255, 255);
    margin: 0; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}



nav{
    background-color: rgb(52, 48, 60);
    padding: 30px 60px;
    color:white;
    font-size: 25px;
    
   

}


.navTop a{
    text-decoration: none;
    color: white;
}

.line2 a{
    text-decoration: none;
}



.navTop{
    display: flex;
    align-items: center;
    justify-content:space-between

}


.navItem:hover{
    color: rgb(97, 97, 97);
}

.navbottom{
    display: flex;
    justify-content: center;
   
}

.menuItem{
    margin:  15px ;
   cursor: pointer;
   color: rgb(204, 204, 204);
   font-weight: 400;
   font-size: 25px;
   
}

.btnLogin-popup{
    position: relative;
    top: -5;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28;
    color: white;
    cursor: pointer;
}

.menuItem:hover{
    color: black;
}



.search{
    display: flex;
    align-items: center;
    background-color: rgb(158, 155, 165);
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput{
    border: none;
    background-color: transparent;
}

.searchInput::placeholder{
    color: rgb(255, 255, 255);
}

.slider{
    background: url(https://wallpapercave.com/wp/wp10933264.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    overflow: hidden;
}

.sliderWrapper{
    display: flex;
    width: 600vw;
    transition: all 1.5s ease-in-out;
}



.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 6px;
}

.sliderBg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
    left:28%;
}

.sliderimg{
    z-index: 1;

}

.sliderTitle{
    position: absolute;
    color:white;
   top:5%;
   right:10%;
   font-size: 60px;
   font-weight: 900;
   text-align: center;
   z-index: 1;
}

.sliderPrice{
    position: absolute;
    color:white;
   bottom:0%;
   left:15%;
   font-size: 90px;
   font-weight: 100;
   text-align: center;
   border: 1px solid gray;
   z-index: 1;
}


.buyButton{
    position: absolute;
    color:white;
    background-color: black;
   bottom:44%;
   right:17%;
   font-size: 50px;
   font-weight: 600;
   border: 1px solid rgb(90, 90, 90);
   z-index: 1;
   cursor: pointer;
}

.buyButton:hover {
    background-color: white;
    color: black;
}


.sliderItem:nth-child(1) .sliderBg{
    background-color: rgb(250, 177, 41);
}

.sliderItem:nth-child(2) .sliderBg{
    background-color: rgb(230, 230, 138);
}

.sliderItem:nth-child(3) .sliderBg{
    background-color: rgb(99, 133, 150);
}

.sliderItem:nth-child(4) .sliderBg{
    background-color: rgb(42, 96, 42);
}

.sliderItem:nth-child(5) .sliderBg{
    background-color: rgb(130, 77, 146);
}

.topline{
    background-color: rgb(52, 48, 60);
}

.toptext{
    padding: 20px  20px 20px 250px;
    color: rgb(109, 109, 109);
    
}


.featuretab{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}


.featuretabstuff{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.featuretabimg{
    width: 150px;
    height: 150px;

}


.featuretabtitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.featuretabdesc{
    color: gray;
    font-size: 20px;
    width: 100%;
    height: 95px;
}



.bannercover{
  max-height: 700px;
  
}


.bannertext{
    position: relative;
    bottom: 450px;
   justify-content: center;
   align-items: center;
   text-align: center;
    color: white;
    font-size: 45px;
    background-color: black;
    
}
















.top{
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    background-color: rgb(255, 255, 255);
  margin-bottom: 150px;
}

.wrapper{
    max-width: 1200px;
    position: relative;
    
}

.imgwrap{
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 20%;
}



.wrapper i{
    top: 50%;
    background: rgb(139, 139, 139);
    color: rgb(205, 205, 205);
    opacity: 50%;
    height: 46px;
    width: 46px;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    text-align: center;
    list-style: none;
    line-height: 46px;
    border-radius: 50%;
    transform: translateY(-50%);
    
}

.wrapper i:hover{
    color: white;
    background-color: gray;
}

.wrapper i:first-child{
    left: -23px;
    display: none;
}

.wrapper i:last-child{
    right: -23px;
}


.wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img{
    pointer-events: none;
}

.carousel img{
    height: 300px;
   
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 4);
}

.carousel img:first-child{
    margin-left: 0px;
}

@media screen and (max-width: 900px) {
    .carousel img{
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img{
        width: 100%
    }
}

.gap{ 
    margin: 10px;
}

.line2{

    background-color: rgb(255, 255, 255);
     overflow: hidden;
    
}

.ahsld{
    width: 100%;
    height: 100%;
    background-color: white;
}



.middle {
    background-color: rgb(126, 122, 133);
    position: relative;
  
}

.mainvid{
    margin: 30px 150px 50px;
}

.me{
    position: absolute;
    right: 10%;
    top: 15%;
    color: white;
    font-size: 35px;
}

.clickmore{
    position: absolute;
    color: rgb(180, 171, 184);
    background-color: rgb(255, 255, 255);
   top: 100%;
   right:60%;
   font-size: 35px;
   font-weight: 600;
   cursor: pointer;
   border: 5px solid rgb(180, 171, 184);
}

.clickmore:hover{
    background-color: rgb(180, 171, 184);
    color: white;
}

.gallery{
    display: flex;
}
  
.galleryItem{
    flex:1;
    background-color: black;
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;

}


.fttext{
    text-align: center;
    font-size: 70px;
}


.productsft .pr{
    width: 23%;
    min-width: 250px;
    margin: 60px 62px;
    padding: 10px 12px;
    border: 1px solid #8f9790;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(230, 230, 230);
    transition: 0.2 ease;
}


.productsft .pr:hover{
     box-shadow: 20px 20px 30px rgb(206, 206, 206);
}

.productsft .proimg{
    width: 100%;
    border-radius: 20px;
}

.prodes{
    text-align: start;
    font-size: 20px;
}

.prodes{
   align-items: start;
    padding: 10px 0;
    margin: 0;
    
}

.spanpro{
    margin-top: 10px;
    color: #8f9790;
    font-size: 17px;
}

.pr i{ 
    color: rgb(234, 177, 54);
}


.proprirce{
    color: rgb(80, 133, 100);
}

#cartttt{
    color: rgb(69, 100, 100);
    font-size: 23px;
    left: 300;
   
}

#cartttt:hover{
    color: rgb(137, 196, 196);
}


.pro-container{
    display: flex;
   flex-wrap: wrap;
   
}








.galleryImg{
    width: 100%;
    height:500px;
}

.start{
    position: relative;
    bottom: 5px;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
   font-size: 35px;
   font-weight: 600;
   cursor: pointer;
   border-color: rgb(180, 171, 184);
}

.start:hover{
    background-color: white;
    color: black;
}






.featuredtitle{
    background-color: white;
    color: rgb(120, 117, 117);
   position: relative;
   top: 150px;
   left: 14%;
   font-size: 20px;
}


.featuredproducts{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    
}

.featuredproductsitems{
    position: absolute;

}

.featuredproductsimg{
    margin: 150px 90px 150px 90px;
    width: 300px;
    border-radius: 10%;
    cursor: pointer;
    
}

.featuredminititles{
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 140px;
    font-size: 25px;
    color: rgb(126, 126, 126);
    cursor:pointer;
}

.featuredminititles:hover{
    color: rgb(183, 183, 183);
}


footer{
    display: flex;
    background-color: rgb(52, 48, 60);
    color: white;
}

.footerLeft{
    flex:2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}


.fMenuTitle{
    font-size: 16px;
    color: rgb(199, 199, 199);
}

.fList{
    padding: 0;
    list-style: none;
   
}

.fListItem{
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
   
}



.footerRight{
    flex:1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fInput{
    padding: 5px;
}

.fButton{
    padding: 5px;
    background-color: black;
    color: white;
}

.fIcons{
    display: flex;

}

.fIcon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.copyright{
    font-weight: 300;
    font-size: 14px;
    color: rgb(132, 132, 132);
    
}


.gpstitle{
    position: relative;
    text-align: center;
    font-size: 20;
    color: #8f9790;
}


.gpsimg{
    position: relative;
    left: 30px;
    margin: 40px;
    width: 900;
    height: 900;
}

.infotitle{
    
    margin: 0 30;
    position: relative;
    bottom: 700;
    left: 1000;
    font-size: 30;
    
}

.gpsinfo h4{
    font-weight: 80px;
}

.gpsp{
    color: #898989;
}

.gpsinfo a{
    text-decoration: none;
    color: #898989;
}

.gpsp1:hover{
    text-decoration: underline;
}


.productbook{
    margin: 50px;
    padding: 5px;
}

.productimg{
    width: 700px;
    height: 700px;
}


.productright{
    position: relative;
    left: 800;
    bottom: 650;
    font-size: 20px;
}

.inputproduct{
    width: 60;
    height: 30;
}

.productbuttonbuy{
    position: absolute;
    color:white;
    background-color: black;
   font-size: 25px;
   right: 450;
   font-weight: 600;
   border: 1px solid rgb(90, 90, 90);
   cursor: pointer;
   border: 2px solid black
}
.productbuttonbuy:hover{
    background-color: white;
    color: black;
}

.smallproducttext{
    color: gray;
    font-weight: 20px;
    font-size: 15;
}

.titleproduct{
    font-size: 40;
}

.sumproduct{
    color: #6a6a6a;
}

.ftpro a{
    text-decoration: none;
    color: black;
}

.titlepro:hover{
    text-decoration: underline;
}


.bodyyyyy{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;


}



.addtocartheader{
    height: 80px;
    width: 98%;
    background-color: rgb(86, 76, 92);
    border-radius: 3px;
    margin: 30px 0px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.addtocart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
    
}

.fa-solid{
    color: rgb(86, 76, 92);
}

.addtocart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: rgb(86, 76, 92);
    color: white;

}


.bodddddddddyyyyyy a{
    text-decoration: none;
}

.bodddddddddyyyyyy{
    overflow: hidden;
}


.headcart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    width: 1200px;
    margin: auto;
    max-width: 90%;
     transition: transform 1s;
    
}

.headcart img{
    width: 60px;
}

.headcart .iconCart{
    position: relative;
    left:-100;
    z-index: 1;
}





.bodddddddddyyyyyy .totalQuantity{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    background-color: #e8bc0e;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color:white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
   transform: translateX(20px);
}


.listProduct{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.listProduct .item img{
    width: 100%;
}

.listProduct .item h2{
    font-weight: 700;
    font-size: x-large;
}

.listProduct .item .price{
    font-size: x-large;
}

.listProduct .item{
    position: relative;
}

.listProduct .item button{
    position: absolute;
    top:50%;
    left: 50%;
    background-color: rgb(94, 143, 143);
    color: white;
    width: 50%;
    border: none;
    padding: 20px 30px;
    box-shadow: 0 10px 50px black;
    cursor: pointer;
    transform: translateX(-50%) translateY(100px);
    opacity: 0;
}

.listProduct .item:hover button{
    transition:0.5s;
    opacity: 1;
    transform: translateX(-50%);
}




.cart{
    color: white;
    position:fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100vh;
    background-color: #0e0f11;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    gap: 20px;
    transition: right 1s;
}


.cart h2{
    color: #e8bc0e;
    padding: 20px;
    margin: 0;

}

.cart .listCart .item{
    display: grid;
    grid-template-columns: 50px 1fr 70px;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

}

.cart .listCart img{
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;

}

.cart .listCart .item .name{
    font-weight: bold;
}

.cart .listCart .item .quantity{
    display: flex;
    justify-content: end;
    align-items: center;
}

.cart .listCart .item span{
    display: block;
    width: 50px;
    text-align: center;
}


.cart .listCart{
    padding: 20px;
    overflow: auto;
}


.cart .listCart::-webkit-scrollbar{
    width:0;
}


.cart .buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.cart .buttons div{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}


.cart .buttons a{
    color:white;
}

.cart .buttons .checkout{
    background-color: #e8bc0e;
}


/* page checkout */
.checkoutLayout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
}

.checkoutLayout .right{
    background-color: rgb(109, 94, 125);
    border-radius: 20px;
    padding: 40px;
    color: white;
}

.checkoutLayout .list img{
    height: 70px;
}

.checkoutLayout .right .form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: 1px solid rgb(159, 129, 193);
    padding-bottom: 20px;
}

.checkoutLayout .form .group:nth-child(-n+3){
    grid-column-start: 1;
    grid-column-end: 3;
}

.checkoutLayout .form input,
.checkoutLayout .form select{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    background-color: rgb(123, 109, 154);
    color: white;
}

.checkoutLayout .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.checkoutLayout .row div:nth-child(2){
    font-weight: bold;
    font-size: x-large;
}

.buttonCheckout{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    background-color: #49d8b0;
}

.returnCart h1{
    border-top: 1px solid white;
    padding: 20px 0;
}

.returnCart .list .item img{
    height: 80px;
}

.returnCart .item{
    display: grid;
    grid-template-columns: 80px 1fr 50px 80px;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    padding: 0 10px 20px #555;
    border-radius: 20px;
}

.returnCart .item .name,
.returnCart .item .returnPrice{
    font-size: x-large;
    font-weight: bold;
}

.buttonCheckout:hover{
    background-color: #35836d;
}

.bodybody a{
    text-decoration: none;
}

.CartHome:hover{
    color:#6a6a6a;
}



.aboutmetitle{
    width: 100%;
    overflow: hidden;

}


.aboutmetitle h1{
    position: relative;
       text-align: center;
    font-size: 100px;
    color: white;
    background-color: #4b4440;
    top: -600;
  
    
}

.leftsideaboutme{
    margin-top: 150;
    margin-left: 50;
    margin-right: 50;
    font-size: 50;
    text-align: center;
    position: relative;
    top: -170;
  background-color: rgb(255, 255, 255);
    color: rgb(100, 86, 81);
}

.rightsideaboutme p{
    text-align: right;
    font-size: 40px;
    margin-right: 50;
      position: relative;
      top: 30;
      margin-left: 20;
      color: rgb(73, 71, 74);
      color: rgb(255, 255, 255);
  
}


.mangavideo{
      margin-left: 50;
    position: relative;
    align-items: left;
    top: -30;
    
    
}

.rightsideaboutme{
 margin-top: 40;
 background-color: rgb(109, 91, 85);

    display: flex;
}

.lineaklshdklashfklasg{
    background-color: rgb(84, 80, 87);
}

.aboutmelefttext p{
      text-align: left;
    font-size: 40px;
    margin-right: 50;
      position: relative;
      top: 10;
      margin-left: 50;
      color: rgb(255, 255, 255);

}

.enmgvdieoos{
 position: relative;
 right: 40;
    margin-left: 100;
}

.aboutmelefttext{
    margin-top: 200;
    display: flex;
    background-color: rgb(73, 71, 74);
}


.aboutmesmthsmth{
    margin-top: 150;
    margin-left: 50;
    margin-right: 50;
    font-size: 50;
    text-align: center;
    position: relative;
  background-color: rgb(255, 255, 255);
    color: rgb(100, 86, 81);
}



.bpotttomtexct{
    margin-top: 150;
    margin-left: 50;
    margin-right: 50;
    margin-bottom: 100;
    font-size: 50;
    text-align: center;
    position: relative;
  background-color: rgb(255, 255, 255);
    color: rgb(100, 86, 81);
}


.wrapperlog{
    position: absolute;
    top: 0;
    right: 0;
    width: 450;
    height: 100%;
    align-items: center;
    text-align: center;
    background-color: transparent;
    backdrop-filter: blur(15px);
    box-shadow: -1px 0 10px rgba(0, 0, 0, .2);
    border-left: 2px solid rgba(255, 255, 255, .1);
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    opacity: 0;
    pointer-events: none;
}


.wrapperlog .logreg-box{
    width: 100%;
  
}

.logreg-box .logreg-title{
    text-align: center;
    margin-bottom: 40px;
    color: white;
}

.logreg-title h2{
    font-size: 32px;

}

.logreg-title p {
    position: relative;
    top: -10;
    font-size: 15px;
    font-weight: 500;
}

.logreg-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
   
    margin: 30px 0;
    border-bottom: 2px solid white;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    font-weight: 500;
    padding: 25px;

}

.input-box label{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(50%);
    font-size: 16px;
    color: white;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}


.input-box input:focus~label,
.input-box input:valid~label {
    top:-30
}



.input-box .icon{

    position: absolute;
  margin-right: 5;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 19px;
    color: white;
}

.logreg-box .remember-forget{
    position: absolute;
    left: 0;
    font-size: 14.5px;
    color: white;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

.remember-forget label input{
    accent-color: #fff;
    margin: 3px;
}

.remember-forget label{
    position: relative;
    left: 40;
}


.remember-forget a{
    color: white;
    text-decoration: none;
    position: relative;
    right: -250;
}

.remember-forget a:hover{
    text-decoration: underline;
}

.logreg-box .btn{
    position: relative;
    top: 10;
    width: 100%;
    height: 45px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 16px;
    color: #222;
}

.logreg-box .logreg-link{
    font-size: 14.5px;
    color: white;
    text-align: center;
    margin-top: 40;
    font-weight: 500;

}


.logreg-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;

} 

.logreg-link p a:hover{
    text-decoration: underline;
}

.media-options{

    flex-direction: column;
}

.media-options a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 448;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-radius: 40px;
    color: white;
    text-decoration: none;
    transition: .5s;
}

.media-options a:hover{
    background-color: rgba(255, 255, 255, .1);
}

.media-options a .de{
    font-size: 22px;
    margin: 0 8px 1.5px 0;
}

.media-options a span{
    font-size: 16px;
}


.wrapperlog .form-box.login{
    display: block;
}

.wrapperlog.active .form-box.login{
    display: none;
}


.wrapperlog .form-box.register{
    display: none;
}

.wrapperlog.active .form-box.register{
    display: block;
}

.icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
}

.icon-close .iconclose{
    font: 45;
    color: #333;
}

.wrapperlog.active-popup{
    opacity: 1;
    pointer-events: auto;
}


.thankyou{
   position: absolute;
   top: 250;
   left: 0;
   width: 1689;
   max-height: 800;
   
}

.plswotrk{
    position: relative;
    right: 0;
    bottom: -300;
    background-color: rgb(63, 64, 74);
    color: rgb(235, 222, 199);
    text-align: center;
    font-size: 100;
}

.aaaaaaa{
    width: 100%;
    background-color: white;
    height: 70%;
}


.banner .gps .gpsinfo{
    overflow: hidden;
}



.bannerimgass .contactssec {
    overflow: hidden;
}

.contactssec{ overflow: hidden;}